<h1>Welcome to {{title}}</h1>

<!--<app-string-interpolation></app-string-interpolation>--
<app-property-binding></app-property-binding>-->
<!--<app-event-bind></app-event-bind>--
<app-two-way-data-binding></app-two-way-data-binding>--
<app-ng-style></app-ng-style>--
<app-ng-class></app-ng-class>--
<app-ng-if></app-ng-if>--
<app-ng-for></app-ng-for>--
<app-ng-switch></app-ng-switch>--
<app-ng-template></app-ng-template>--
<app-ng-container></app-ng-container>-->
<app-ng-content>
    <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
    <p>One more beer: please!</p>
</app-ng-content>